.feedback-btn {
    width: 80px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(119, 119, 119);
    border-radius: 3px;
    border: 1px solid rgb(72, 72, 72) ;
    color: rgb(0, 0, 0);
    }
    
    .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 420px;
    }